/*---------------------------------------------------------------*/
/* Quiz: Resets - inputs */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"],
input[type="number"],
input[type="email"] {
    /*POSITION*/
    padding: 12px;
    margin-bottom: 12px;
    /*DISPLAY*/
    outline: none;
    /*BACKGROUND*/
    background-color: var(--color-secondary);
    /*BORDER*/
    border: 2px solid var(--color-strokeDim);
    border-radius: 8px;
    /*TEXT*/
    font-weight: 600;
    color: var(--color-strokeDim);
    /*TRANSITION*/
    transition: var(--ui-transition);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder {
    /*TEXT*/
    color: var(--color-strokeDim);
}
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
    /*BACKGROUND*/
    background: var(--color-tertiary);
    /*BORDER*/
    border: var(--ui-border);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    /*BORDER*/
    border: var(--ui-border);
    /*TEXT*/
    color: var(--color-stroke);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-inset);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"][data-state="active"],
input[type="number"][data-state="active"],
input[type="email"][data-state="active"] {
    /*BACKGROUND*/
    background: var(--color-tertiary);
    /*BORDER*/
    border: var(--ui-border);
    /*TEXT*/
    color: var(--color-stroke);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-off);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template: */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/