/*---------------------------------------------------------------*/
/* Quiz: Buttons - small */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* small: */
/*--------------------------------*/
small[class*="--error"] {
    /*POSITION*/
    margin-bottom: 6px;
    /*DISPLAY*/
    display: none;
    /*TEXT*/
    color: var(--color-error);
    font-size: 12px;
}