/*---------------------------------------------------------------*/
/* Quiz: Buttons - Landing */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Landing: */
/*--------------------------------*/
button[class*="--landing"] {
    /*POSITION*/
    padding: 12px 0;
    min-width: 150px;
    max-width: 100%;
    /*BACKGROUND*/
    background: var(--color-secondary);
    /*BORDER*/
    border: var(--ui-border);
    border-radius: 8px;
    /*TEXT*/
    font-size: 24px;
}
button[class*="--landing"]:first-child {margin-bottom: 6px;}
/*--------------------------------*/
/* landing: icon */
/*--------------------------------*/
button[class*="--landing"] i {
    /*POSITION*/
    padding-right: 12px;
    /*TEXT*/
    font-size: 28px;
}
/*--------------------------------*/
/* landing: Hover */
/*--------------------------------*/
button[class*="--landing"]:hover {
    /*BACKGROUND*/
    background: var(--color-tertiary);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
}
button[class*="--landing"]:hover i {
    /*ANIMATION*/
    animation: btn__icon 1.25s ease-in-out infinite;
}

/*--------------------------------*/
/* landing: Active */
/*--------------------------------*/
button[class*="--landing"]:active {
    /*BACKGROUND*/
    background: var(--color-tertiary);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-inset);
}